$heel_erg_palet:#f4f6f7;
$rustig_rood: 	#d73636;
$lichtgrijs: 	#c1c1c1;
$grijs:			#666;
$donkergrijs: 	#414141;
$zwart: 		#212121;
$roodgrijze_tint: rgba(60, 0, 0, 0.11);
$ease-out-snel: cubic-bezier(0,0,0,1.28);
$dunlijntje: 1px solid rgba(33, 33, 33, 0.1);

$desktop-vb: 1200px;
$tablet-vb: 900px;
$mob-vb: 400px;