.conversie.winkel {
	display: flex;
	flex-direction: row;
	div {
		margin: 0 10px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	h3 .auteur {
		font-style: italic;
		//margin-left: 10px;
		&::before {
			content: ' - ';
		}
	}
}